<section class='links'>
  <div class='links__endpoint'>
    <p>GET</p>
    <a href='/api/{{apiVer}}/phones'>/api/{{apiVer}}/phones</a>
  </div>
  <div class='links__endpoint'>
    <p>GET /:id</p>
    <a href='/{{apiVer}}/phones'>/api/{{apiVer}}/phones</a>
  </div>
  <div class='links__endpoint'>
    <p>GET</p>
    <a href='/api/{{apiVer}}/phones'>/api/{{apiVer}}/phones</a>
  </div>
</section>
