<section class='links'>
  <div class='endpoint'>
    <p>GET All Phones</p>
    <div class='endpoint__url'>
      <p>GET</p>
      <a href='/api/{{apiVer}}/phones'>/api/{{apiVer}}/phones</a>
    </div>
  </div>
  <div class='endpoint'>
    <p>GET Specific Phone</p>
    <div class='endpoint__url'>
      <p>GET</p>
      <a href='/api/{{apiVer}}/phones/625657c7b7b41a9c198bdb94'>/api/{{apiVer}}/phones/:id</a>
    </div>
  </div>

  <div class='endpoint'>
    <p>GET phone with filter</p>

    <form action='/api/{{apiVer}}/phones' class='form form-get' autocomplete='off'>
      <div class='form-group'>
        <div class='form-group__main'>
          <label for='limit'>Limit</label>
          <input data-filter='limit' type='number' id='limit' name='limit' min='0' value='0' />
        </div>
      </div>

      <div class='form-group'>
        <div class='form-group__main'>
          <label for='page'>Page</label>
          <input data-filter='page' type='number' id='page' name='page' min='0' value='1' />
        </div>
      </div>

      <div class='endpoint__url'>
        <p>GET</p>
        <a href='/api/{{apiVer}}/phones?limit=0&page=1'>/api/{{apiVer}}/phones?limit=0&page=1</a>
      </div>
    </form>

  </div>
</section>

<script src={{script}}> </script>
